.container {
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
  
    @media screen and(min-width: $phone) {
      width: $phone;
    }

    @media screen and(min-width: $desktop) {
      width: 1237px;
    }
}
