html {
    box-sizing: border-box;
  }
  
  *,
  *::before,
  *::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
  }
  
  body {
    background-color: #ffffff;
    color: $primary-color;
    font-family: 'Poppins', sans-serif;
    font-style:normal;
    font-weight: normal;
  }
  
  img {
    display: block;
    max-width: 100%;
    height: auto;
  }
  
  
  a{
    text-decoration: none;
  }


  ul {
    padding: 0;
    margin: 0;
    list-style: none;
  }

  p,h1,h2,h3{
      margin:0;
  }