$mobile: 360px;
$desktop: 1440px;
$main-back-color: #ffffff;
$primary-color: #000000;
$secondary-back-color-light: #F7F7F7;
$secondary-back-color-dark:  #4A4A4A;
$border-color: #F2F2F2;
$border-sec-color: #E1E0E1;
$back-color-pink: #F2DA91;
$hover-color: #2196f3;


