@import '../utils/placeholders';

.menu-wrapper{
    width: 88%;
    padding: 0;
    padding-bottom: 111px;

    position: absolute;
    top: 0;
    left: 0;
    
    text-align: center;
    background-color: white;
    display: none;
    
    &-container{
        padding: 24px 16px 32px;

        @include desktop(){
            padding: 0;
            position: relative;
        }
    }
  
    
    &.is-menu-open {
        display: block;
        

        .navigation{
            display: flex;

            &-list{

                display:flex;
                flex-direction:column;
                align-items: flex-start;

                @include desktop(){
                    flex-direction:row;
                    justify-content: space-between;
                    width: 642px;
                    margin: 0 auto;
                }
            }

        }

       
    }

    @include desktop(){
        display: flex;
        justify-content: space-between;
        width: 642px;
        margin: 0 auto;
        margin-top:24px;
        background-color: transparent;
        position: static;
        padding: 0;

    }
      
}

.icon-right.category-block{
    display:none;
    transform: rotate(-180deg);
    height: 12px;
}