.footer{
    padding-top:16px;
    padding-bottom:23px;

    background: $secondary-back-color-light;

    &-info{
        @extend %flex-container-column;
        align-items: center;

        @include desktop(){
            flex-direction: row;
            align-content: flex-start;
            justify-content: space-between;
            width: 891px;
            margin: 0 auto;
        }
    }

    &-list{
        margin-bottom:24px;

        @include desktop(){
            display: flex;
            justify-content: space-between;
            width: 891px;
            margin-bottom:38px;
        }


        &-item{
            width: 328px;
            @extend %flex-container-column;
            justify-content: center;
            min-height:33px;
            padding-left:15px;
            padding-right: 15px;

            border-bottom: 1px solid $border-sec-color;

            font-family: Cormorant Garamond;
            font-style: normal;
            font-weight: bold;
            font-size: 16px;
            line-height: 19px;
            letter-spacing: 1.164px;

            @include desktop(){
                width: 146px;
                text-transform: capitalize;
                border: none;
                padding:0;
                align-self: flex-start;
            }

        }

        &-wrapper{
            @extend %flex-container-row;
            width: 100%;
            pointer-events: none;
        }
    }

    &-socials{
        width:185px;
        @extend %flex-container-row;
        margin-bottom:16px;

        @include desktop(){
            margin-top: 17px;
            margin-bottom: 0;
        }
    }

    &-text{
        font-size: 9px;
        line-height: 13px;

        text-align: center;
        letter-spacing: 0.5px;

        color: $primary-color;
    }

    &-mob-icons{
        display:block;
        @include desktop(){
            display: none;
        }
    }
}

.categories-list{
    display: none;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 19px;

    letter-spacing: 0.1px;

    @include desktop(){
        display: block;
        margin-top: 17px;
    }

    &-item{
        @include desktop(){
            margin-bottom: 6px;

            &:last-child{
                margin-bottom:0;
            }
        }
    }

    &.is-open{
        display: block;
        margin-top: 17px;
    }
}

.icon{
    &-instagram{
        width: 19px;
        height: 19px;
    }

    &-twitter{
        width: 20px;
        height: 16px;
    }

    &-snapchat{
        width: 19px;
        height: 18px;
    }

    &-facebook{
        width: 10px;
        height: 18px;
    }

    &-youtube{
        width: 21px;
        height: 15px;
    }

    &-right{
        width: 12px;
        height: 7px;
        pointer-events: none;

        @include desktop(){
            display:none;
        }
    }
}

footer .icon-right.is-open{
    transform: rotate(90deg);
}

.footer-list-item.social-item{
    display: none;

    @include desktop(){
        display: block;
        width: 139px;
        
    }
}

.footer-link:hover{

    .footer-icon{
        fill: $hover-color;
    }
}

