.header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding-top: 20px;
    padding-bottom:30px;
    background-color: transparent;

    &-wrapper{
        display:flex;
        justify-content: space-between;
    }
    
    &-icon{
        width:20px;
        height:15px;
       
    }

    &-icon-list{
        display:flex;
        justify-content: space-between;
        align-items: center;
        list-style:none;
        width: 53px;

        &-item:last-child{
            display: none;
        }
    }

    // &:active{
    //     position:static;
    //     background-image: url('./images/backgr-mob-active.jpg');
    //     background-repeat: no-repeat;
    //     background-size: cover;
    // }

    &.active{
        position:static;
        // background-image: url('./images/backgr-mob-active.jpg');
        // background-repeat: no-repeat;
        // background-size: cover;
    }

    &.isFormOpen{
        background-color:white;
    }

    &-search-button{
        background-color:transparent;
        border:none;
    }

}

.icon{

    &-basket-wrapper{
        display:flex;
        justify-content: flex-end;
        width:46px;
        height: 24px;
        background-color: $secondary-back-color-dark;
    }

    &-burger{
        width:20px;
        height: 15px;

    }

    &-search{
        width:18px;
        height: 18px;

    }

    &-basket{
        width:16px;
        height: 24px;
        
    }

    &-cross{
        display: none;
       

        &.active{
            display: block;
            width:16px;
            height: 16px;
        }
    }
}