@import '../utils/_mixines';

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding-top: 20px;
    padding-bottom:30px;
    background-color: transparent;

    transition: all 250ms linear;

    @include desktop(){
        top: 25px;
        padding-top:24px;
        background: linear-gradient(180deg, rgba(51, 51, 51, 0.9) 14.31%, 
                rgba(27, 27, 27, 0.469176) 58.6%, rgba(0, 0, 0, 0.0001) 100%);
        mix-blend-mode: normal;
        opacity: 0.5;
    }

    &-wrapper{
       @extend %flex-container-row;
    }
    
    &-delivery{
        display: none;
        
        &-text{
            margin: 0 auto;
            font-weight: 500;
            font-size: 11px;
            line-height: 16px;

            text-align: center;
            letter-spacing: 0.8px;

            color: $primary-color;
        }

        @include desktop(){
            display:flex;
            justify-content: space-between;
            align-items: center;
            height:24px;
            border-bottom-color: $border-color;
        }


        &-wrapper{
            background-color: $main-back-color;

            .is-registered{
                background-color: #F7F7F7;;
            }
        }
    }

}









