.section-hero{
    height: 480px;
    background-image: url('./images/backgr-mobile.jpg');
    background-repeat: no-repeat;
    background-size: cover;

    @include desktop(){
       height: 756px;
       background-image: url('./images/backgr-deskt.png');
       display: flex;

       align-items: center;
       justify-content: center;

    }

    &.is-registered{
   

        @include desktop(){
            height: 810px;
            background-image: url('./images/backgr-desk-reg.png');
            background-size: cover;
            background-position-y: 61px;
           
        }
    }
    
}

.page-title{
    display:none;

    @include desktop(){
        display: block;
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 60px;
    line-height: 90px;

    text-align: center;
    color: #FFFFFF;
    }
}

   
 
