@import url(d:\Projects\React\Vaimo_Test\node_modules\modern-normalize\modern-normalize.css);
.container {
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
}

@media screen and (min-width: 360px) {
  .container {
    width: 360px;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    width: 1440px;
  }
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  background-color: #ffffff;
  color: #000000;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: normal;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

p, h1, h2, h3 {
  margin: 0;
}

.logo {
  display: block;
  font-weight: bold;
  font-size: 38px;
  line-height: 57px;
  letter-spacing: 0.95px;
  color: #ffffff;
}

@media screen and (min-width: 1440px) {
  .logo.mobile {
    display: none;
  }
}

.logo.mobile.burger-menu {
  color: #000000;
}

@media screen and (min-width: 1440px) {
  .logo.burger-menu {
    display: none;
  }
}

.header-icon-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  width: 53px;
}

.header-icon-list-item:last-child {
  display: none;
}

@media screen and (min-width: 1440px) {
  .header-icon-list {
    display: none;
  }
}

.icon-basket-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 46px;
  height: 24px;
  background-color: transparent;
}

.icon-burger {
  width: 20px;
  height: 15px;
}

.icon-search {
  width: 18px;
  height: 18px;
}

.icon-search.mobile {
  position: absolute;
  -webkit-transform: translate(-28px, 8px);
          transform: translate(-28px, 8px);
  pointer-events: none;
}

@media screen and (min-width: 1440px) {
  .icon-search {
    position: absolute;
    top: 0;
    right: 0;
    -webkit-transform: translate(-20px, 16px);
            transform: translate(-20px, 16px);
  }
}

.icon-cross {
  display: none;
  width: 16px;
  height: 16px;
}

.icon-location {
  width: 8px;
  height: 11px;
}

.header-icon-list ~ .icon-basket {
  display: block;
  width: 16px;
  height: 24px;
}

@media screen and (min-width: 1440px) {
  .header-icon-list ~ .icon-basket {
    display: none;
  }
}

.header-icon-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  width: 53px;
}

.header-icon-list-item:last-child {
  display: none;
}

@media screen and (min-width: 1440px) {
  .header-icon-list {
    display: none;
  }
}

.icon-basket-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 46px;
  height: 24px;
  background-color: transparent;
}

.icon-burger {
  width: 20px;
  height: 15px;
}

.icon-search {
  width: 18px;
  height: 18px;
}

.icon-search.mobile {
  position: absolute;
  -webkit-transform: translate(-28px, 8px);
          transform: translate(-28px, 8px);
  pointer-events: none;
}

@media screen and (min-width: 1440px) {
  .icon-search {
    position: absolute;
    top: 0;
    right: 0;
    -webkit-transform: translate(-20px, 16px);
            transform: translate(-20px, 16px);
  }
}

.icon-cross {
  display: none;
  width: 16px;
  height: 16px;
}

.icon-location {
  width: 8px;
  height: 11px;
}

.header-icon-list ~ .icon-basket {
  display: block;
  width: 16px;
  height: 24px;
}

@media screen and (min-width: 1440px) {
  .header-icon-list ~ .icon-basket {
    display: none;
  }
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 30px;
  background-color: transparent;
  -webkit-transition: all 250ms linear;
  transition: all 250ms linear;
}

@media screen and (min-width: 1440px) {
  .header {
    top: 25px;
    padding-top: 24px;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(14.31%, rgba(51, 51, 51, 0.9)), color-stop(58.6%, rgba(27, 27, 27, 0.469176)), to(rgba(0, 0, 0, 0.0001)));
    background: linear-gradient(180deg, rgba(51, 51, 51, 0.9) 14.31%, rgba(27, 27, 27, 0.469176) 58.6%, rgba(0, 0, 0, 0.0001) 100%);
    mix-blend-mode: normal;
    opacity: 0.5;
  }
}

.header-delivery {
  display: none;
}

.header-delivery-text {
  margin: 0 auto;
  font-weight: 500;
  font-size: 11px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.8px;
  color: #000000;
}

@media screen and (min-width: 1440px) {
  .header-delivery {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 24px;
  }
}

.header-delivery-wrapper {
  background-color: #ffffff;
}

.header-delivery-wrapper .is-registered {
  background-color: #F7F7F7;
}

.header.isFormOpen {
  background-color: white;
}

.header-toggler-button {
  background-color: transparent;
  border: none;
  outline: none;
}

.header-toggler-button.is-input-open .icon-search {
  display: none;
}

.header-toggler-button.is-input-open .icon-cross {
  display: block;
}

.header-toggler-button.is-menu-open .icon-burger {
  display: none;
}

.header-toggler-button.is-menu-open .menu-close {
  display: block;
  position: absolute;
  top: 20%;
  left: 6%;
  z-index: 100;
}

@media screen and (min-width: 639px) {
  .header-toggler-button.is-menu-open .menu-close {
    left: 3%;
  }
}

.header-input {
  width: 100%;
  background: #F7F7F7;
  mix-blend-mode: normal;
  opacity: 0.24;
  border-radius: 3px;
  padding-top: 12px;
  padding-left: 12px;
}

@media screen and (min-width: 1440px) {
  .header-input {
    width: 584px;
    height: 48px;
    padding-left: 16px;
    padding-right: 16px;
    opacity: 0.24;
  }
}

.header-input-wrapper {
  display: none;
}

@media screen and (min-width: 1440px) {
  .header-input-wrapper {
    display: block;
    position: relative;
  }
}

.header-input::-moz-placeholder {
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  line-height: 16px;
  letter-spacing: 0.8px;
  color: black;
}

.input-mobile {
  display: none;
  width: 100%;
}

@media screen and (min-width: 1440px) {
  .input-mobile {
    display: none;
  }
}

.input-mobile.is-input-open {
  display: block;
}

header:hover, header.is-registered, header:active {
  background: none;
  background-color: #ffffff;
  opacity: initial;
  position: fixed;
}

header:hover .logo, header.is-registered .logo, header:active .logo {
  color: #000000;
}

header:hover .header-input, header.is-registered .header-input, header:active .header-input {
  background: #F7F7F7;
  border: 1px solid #F2F2F2;
}

header:hover .header-input:-moz-placeholder, header.is-registered .header-input:-moz-placeholder, header:active .header-input:-moz-placeholder {
  color: #000000;
}

header:hover .header-input-wrapper > .icon-search, header.is-registered .header-input-wrapper > .icon-search, header:active .header-input-wrapper > .icon-search {
  fill: #000000;
}

header:hover .navigation-list-item, header.is-registered .navigation-list-item, header:active .navigation-list-item {
  color: #000000;
}

header:hover .registr-button, header.is-registered .registr-button, header:active .registr-button {
  color: #000000;
}

header:hover .registr-button:first-child::after, header.is-registered .registr-button:first-child::after, header:active .registr-button:first-child::after {
  background-color: #000000;
}

header:hover .icon-basket, header:hover .icon-search, header:hover .icon-burger, header.is-registered .icon-basket, header.is-registered .icon-search, header.is-registered .icon-burger, header:active .icon-basket, header:active .icon-search, header:active .icon-burger {
  --color1: $primary-color;
}

.section-hero {
  height: 480px;
  background-image: url("./images/backgr-mobile.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 500px;
  margin: 0 auto;
}

@media screen and (min-width: 1440px) {
  .section-hero {
    height: 756px;
    background-image: url("./images/backgr-deskt.png");
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0;
    max-width: initial;
  }
}

@media screen and (min-width: 1440px) {
  .section-hero.is-registered {
    height: 810px;
    background-image: url("./images/backgr-desk-reg.png");
    background-size: cover;
    background-position-y: 61px;
  }
}

.page-title {
  display: none;
}

@media screen and (min-width: 1440px) {
  .page-title {
    display: block;
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 60px;
    line-height: 90px;
    text-align: center;
    color: #FFFFFF;
  }
}

.section-registration {
  padding-top: 24px;
  padding-bottom: 24px;
}

.section-text {
  margin-bottom: 14px;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  line-height: 18px;
  letter-spacing: 0.87px;
}

@media screen and (min-width: 1440px) {
  .section-text {
    width: 439px;
    margin: 0 auto;
    margin-bottom: 14px;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.872727px;
    color: #000000;
  }
}

.registration-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (min-width: 1440px) {
  .registration-form {
    width: 439px;
    margin: 0 auto;
  }
}

.registration-input {
  width: 224px;
  border: 1px solid #E1E0E1;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 3px;
  padding-left: 11px;
  padding-top: 8px;
  padding-bottom: 7px;
  margin-right: 8px;
}

@media screen and (min-width: 1440px) {
  .registration-input {
    width: 334px;
  }
}

.registration-input::-webkit-input-placeholder {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  line-height: 16px;
  letter-spacing: 0.8px;
}

.registration-input:-ms-input-placeholder {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  line-height: 16px;
  letter-spacing: 0.8px;
}

.registration-input::-ms-input-placeholder {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  line-height: 16px;
  letter-spacing: 0.8px;
}

.registration-input::placeholder {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  line-height: 16px;
  letter-spacing: 0.8px;
}

.registration-button {
  width: 96px;
  height: 35px;
  background: #000000;
  border-radius: 3px;
  text-transform: uppercase;
  color: white;
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 10px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 1px;
}

@media screen and (min-width: 1440px) {
  .registration-button {
    width: 94px;
  }
}

.footer {
  padding-top: 16px;
  padding-bottom: 23px;
  background: #F7F7F7;
}

.footer-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 1440px) {
  .footer-info {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-line-pack: start;
        align-content: flex-start;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 891px;
    margin: 0 auto;
  }
}

.footer-list {
  margin-bottom: 24px;
}

@media screen and (min-width: 1440px) {
  .footer-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 891px;
    margin-bottom: 38px;
  }
}

.footer-list-item {
  width: 328px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 33px;
  padding-left: 15px;
  padding-right: 15px;
  border-bottom: 1px solid #E1E0E1;
  font-family: Cormorant Garamond;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 1.16364px;
}

@media screen and (min-width: 1440px) {
  .footer-list-item {
    width: 146px;
    text-transform: capitalize;
    border: none;
    padding: 0;
    -ms-flex-item-align: start;
        align-self: flex-start;
  }
}

.footer-list-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  pointer-events: none;
}

.footer-socials {
  width: 185px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 16px;
}

@media screen and (min-width: 1440px) {
  .footer-socials {
    margin-top: 17px;
    margin-bottom: 0;
  }
}

.footer-text {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 9px;
  line-height: 13px;
  text-align: center;
  letter-spacing: 0.5px;
  color: #000000;
}

.footer-mob-icons {
  display: block;
}

@media screen and (min-width: 1440px) {
  .footer-mob-icons {
    display: none;
  }
}

.categories-list {
  display: none;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 19px;
  letter-spacing: 0.1px;
}

@media screen and (min-width: 1440px) {
  .categories-list {
    display: block;
    margin-top: 17px;
  }
}

@media screen and (min-width: 1440px) {
  .categories-list-item {
    margin-bottom: 6px;
  }
  .categories-list-item:last-child {
    margin-bottom: 0;
  }
}

.categories-list.is-open {
  display: block;
  margin-top: 17px;
}

.icon-instagram {
  width: 19px;
  height: 19px;
}

.icon-twitter {
  width: 20px;
  height: 16px;
}

.icon-snapchat {
  width: 19px;
  height: 18px;
}

.icon-facebook {
  width: 10px;
  height: 18px;
}

.icon-youtube {
  width: 21px;
  height: 15px;
}

.icon-right {
  width: 12px;
  height: 7px;
  pointer-events: none;
}

@media screen and (min-width: 1440px) {
  .icon-right {
    display: none;
  }
}

footer .icon-right.is-open {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.footer-list-item.social-item {
  display: none;
}

@media screen and (min-width: 1440px) {
  .footer-list-item.social-item {
    display: block;
    width: 139px;
  }
}

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  margin: 0 auto;
}

@media screen and (min-width: 1440px) {
  .navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.navigation-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
  margin-bottom: 79px;
}

@media screen and (min-width: 1440px) {
  .navigation-list {
    width: 642px;
    margin-bottom: 0;
  }
}

.navigation-list-item {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 33px;
  padding-top: 16px;
  padding-bottom: 13px;
  padding-left: 2px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  font-weight: 600;
  font-size: 13px;
  line-height: 19px;
  letter-spacing: 1px;
  text-transform: uppercase;
  border-bottom: 1px solid #F7F7F7;
  text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.12);
}

@media screen and (min-width: 1440px) {
  .navigation-list-item {
    width: initial;
    display: block;
    text-transform: capitalize;
    border: none;
    padding: 0;
    -ms-flex-item-align: start;
        align-self: flex-start;
    color: #ffffff;
  }
}

.list-wrapper {
  width: 100%;
  pointer-events: none;
}

.category-block {
  display: none;
}

.category-block.is-rendered {
  width: 100%;
  border-bottom: 1px solid #000000;
  padding-bottom: 13px;
  padding-left: 30px;
  padding-right: 30px;
}

@media screen and (min-width: 1440px) {
  .category-block.is-rendered {
    border: none;
    padding: 0;
  }
}

@media screen and (min-width: 1440px) {
  .category-block.is-rendered.icon-right {
    display: none;
  }
}

@media screen and (min-width: 1440px) {
  .category-title {
    display: none;
  }
}

@media screen and (min-width: 1440px) {
  .category-title.link {
    display: block;
  }
}

.history-link {
  text-decoration: underline;
  font-weight: normal;
  font-size: 11px;
  line-height: 16px;
  letter-spacing: 0.0916667px;
  color: #000000;
}

@media screen and (min-width: 1440px) {
  .history-link {
    position: absolute;
    top: 0;
    left: -29%;
    font-weight: 600;
    font-size: 13px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #ffffff;
    text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.12);
    text-decoration: none;
  }
}

.header-wrapper, .list-wrapper, .category-block.is-rendered, .registr-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu-wrapper.is-menu-open .navigation-list, .registr-cart-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.category-title {
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 19px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.mobile-cart {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  padding: 3px;
  background-color: #F2DA91;
  text-align: center;
}

.menu-wrapper {
  width: 88%;
  padding: 0;
  padding-bottom: 111px;
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
  background-color: #ffffff;
  display: none;
}

.menu-wrapper-container {
  padding: 24px 16px 32px;
}

@media screen and (min-width: 1440px) {
  .menu-wrapper-container {
    padding: 0;
    position: relative;
  }
}

.menu-wrapper.is-menu-open {
  display: block;
  z-index: 99;
  min-height: 695px;
}

.menu-wrapper.is-menu-open .navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu-wrapper.is-menu-open .navigation-list {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

@media screen and (min-width: 1440px) {
  .menu-wrapper.is-menu-open .navigation-list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 642px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 1440px) {
  .menu-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 642px;
    margin: 0 auto;
    margin-top: 24px;
    background-color: transparent;
    position: static;
    padding: 0;
  }
}

.icon-back {
  display: none;
}

.icon-back.is-rendered {
  display: block;
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
  height: 12px;
}

@media screen and (min-width: 1440px) {
  .icon-back.is-rendered {
    display: none;
  }
}

.delivery-wrapper {
  display: none;
  background-color: #F7F7F7;
  padding-top: 16px;
  padding-bottom: 15px;
  padding-left: 32px;
  text-align: initial;
}

.delivery-wrapper.delivery-text {
  font-size: 10px;
  line-height: 15px;
  letter-spacing: 0.5px;
  margin-left: 7px;
}

.delivery-wrapper.is-rendered {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 1440px) {
  .delivery-wrapper.is-rendered {
    display: none;
  }
}

.delivery-wrapper.is-rendered .icon-location {
  display: none;
}

.delivery-wrapper.is-shown .icon-location {
  display: block;
  width: 10px;
  height: 13px;
  margin-right: 7px;
}

@media screen and (min-width: 1440px) {
  .delivery-wrapper {
    display: none;
  }
}

.delivery-slogan {
  display: none;
}

.delivery-slogan.is-rendered {
  display: block;
  margin: 0 auto;
  margin-top: 15px;
  font-size: 10px;
  line-height: 15px;
  text-align: center;
  letter-spacing: 0.5px;
  color: #000000;
}

@media screen and (min-width: 1440px) {
  .delivery-slogan.is-rendered {
    display: none;
  }
}

.header-wrapper, .list-wrapper, .category-block.is-rendered, .registr-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu-wrapper.is-menu-open .navigation-list, .registr-cart-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.category-title {
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 19px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.mobile-cart {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  padding: 3px;
  background-color: #F2DA91;
  text-align: center;
}

.backdrop.is-open {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 1;
  visibility: visible;
  pointer-events: initial;
  overflow-y: scroll;
  -webkit-transition: opacity 250ms linear;
  transition: opacity 250ms linear;
}

@media screen and (min-width: 1440px) {
  .backdrop.is-open {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }
}

.backdrop {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.registr-button-wrapper ~ .icon-basket {
  display: none;
  width: 16px;
  height: 24px;
}

@media screen and (min-width: 1440px) {
  .registr-button-wrapper ~ .icon-basket {
    display: block;
  }
}

@media screen and (min-width: 1440px) {
  .registr-wrapper {
    position: static;
    width: 148px;
  }
}

.registr-button-wrapper {
  display: none;
}

@media screen and (min-width: 1440px) {
  .registr-button-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.registr-button-wrapper.mobile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #F7F7F7;
  padding-top: 16px;
  padding-bottom: 15px;
  padding-left: 15px;
  margin-bottom: 2px;
}

@media screen and (min-width: 1440px) {
  .registr-button-wrapper.mobile {
    display: none;
  }
}

.registr-button {
  font-weight: 600;
  font-size: 10px;
  line-height: 15px;
  letter-spacing: 1px;
  background-color: transparent;
  outline: none;
  border: none;
}

@media screen and (min-width: 1440px) {
  .registr-button {
    font-size: 11px;
    line-height: 16px;
    color: #ffffff;
  }
}

.registr-button:first-child {
  margin-right: 20px;
  position: relative;
}

.registr-button:first-child::after {
  content: "";
  width: 1px;
  height: 16px;
  position: absolute;
  right: -11px;
  background-color: #000000;
}

@media screen and (min-width: 1440px) {
  .registr-button:first-child::after {
    background-color: #ffffff;
  }
}

.registr-cart {
  display: none;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  padding: 3px;
  background-color: #F2DA91;
  text-align: center;
}

.registr-user {
  display: none;
  font-weight: 600;
  font-size: 11px;
  line-height: 16px;
  text-align: right;
  letter-spacing: 1px;
}

.registr-cart-buttons {
  display: none;
}

.registr-cart-buttons.is-registered {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  width: 200px;
  -webkit-transform: translate(0, 35px);
          transform: translate(0, 35px);
}

.registr-cart-list {
  margin-top: 23px;
}

.registr-wrapper.is-registered {
  position: relative;
}

.registr-wrapper.is-registered .regist-btn-block {
  display: none;
}

.registr-wrapper.is-registered .registr-cart {
  display: block;
}

.registr-wrapper.is-registered .registr-user {
  display: block;
}

.hidden.registr-button::after {
  display: none;
}

.mobile-cart {
  display: none;
}

.mobile-cart.is-registered {
  display: block;
}

@media screen and (min-width: 1440px) {
  .mobile-cart.is-registered {
    display: none;
  }
}
/*# sourceMappingURL=main.css.map */